<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Auctions{% endblock %}

{% block content %}
<p ><a href="{{ url_for('admin_bp.admin_form') }}">Add new auction</a></p>

<h1>Auctions</h1>
<ul>
    {% for auction in auctions %}
        <li><p>
            <a href="{{ url_for('auctions_bp.auctions_detail', auction_id=auction.id) }}">
                {{ auction.title }}
            </a>
            </p>
            {% if auction.image_url %}
            <img src="{{ auction.image_url }}" style="max-width:200px; max-height:200px;">
            {% endif %}
            
            <p>{{ auction.description }}</p>
            <p>Ends at: {{ auction.end_at.strftime("%d %b %Y kl %H:%M") }}</p>
            <a href="{{ url_for('admin_bp.admin_form', auction_id=auction.id) }}"
                    class="btn btn-sm btn-primary" aria-label="Edit auction">Edit</a>

                <form action="{{ url_for('admin_bp.admin_delete_auction', auction_id=auction.id) }}" method="POST"
                    class="d-inline">
                    <button type="submit" class="btn btn-sm btn-danger"
                        onclick="return confirm('Är du säker på att du vill radera {{ auction.title }}?');" aria-label="Radera auction {{ auction.title }}">Radera</button>
                </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}