<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Auctions{% endblock %}

{% block content %}
<h1>Auctions</h1>

<form method="get">
    <input type="text"
           name="q"
           placeholder="Search auctions"
           value="{{ filters.q }}">

    <input type="text" name="category" placeholder="Search category" value="{{ filters.category }}">

    <input type="number"
           name="min_price"
           placeholder="Min price"
           value="{{ filters.min_price }}">

    <input type="number"
           name="max_price"
           placeholder="Max price"
           value="{{ filters.max_price }}">

    <label>Ends before:</label>
    <input type="datetime-local"
           name="ends_before"
           value="{{ filters.ends_before }}">

    <button type="submit">Search</button>
    <a href="{{ url_for('auctions_bp.auctions_list') }}">Clear</a>
</form>


<ul>
    {% for auction in auctions %}
        <li><p>
            <a href="{{ url_for('auctions_bp.auctions_detail', auction_id=auction.id) }}">
                {{ auction.title }}
            </a>
            </p>
            {% if auction.image_url %}
            <img src="{{ auction.image_url }}" style="max-width:200px; max-height:200px;">
            {% endif %}
            <p>{{ auction.description }}</p>
            <p>Price: ${{ auction.starting_bid }}</p>
            <p>Ends at: {{ auction.end_at.strftime("%d %b %Y kl %H:%M") }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
